extends ../../component/layout/template
block cool-config
    -
        var myTitle='CSS Fonts';
        var myDescription='The CSS font properties define the font family, boldness, size, and the style of a text.';
        var landingPage='CSS';
        var activeLink='/css/fonts';

block awesome-content
    h1=myTitle
    a.com7(href='/') < Home
    a.xx(href='/css/links') Next >
    h3=myDescription
    hr
    h3 Difference Between Serif and Sans-serif Fonts