extends ../_component/layout/template
block cool-config
    -
        var myTitle='Learn to code JavaScript';
        var myDescription='JavaScript is the programming language of HTML and the Web!';
        var landingPage='JavaScript';
        var activeLink='';


block awesome-content
    h1=myTitle
    p=myDescription
    h2 JavaScript Variables
    p JavaScript variables are containers for storing data values.
    h2 JavaScript Functions
    p A JavaScript function is a block of code designed to perform a particular task. JavaScript function is executed when "something" invokes it (calls it).
    h2 JavaScript Strings
    p JavaScript strings are used for storing and manipulating text.