extends ../component/layout/template
block cool-config
    -
        var myTitle='Learn to code CSS';
        var myDescription='CSS stands for Cascading Style Sheets!';
        var landingPage='CSS';
        var activeLink='';


block awesome-content
    h1=myTitle
    p=myDescription
    h2 CSS Fonts
    p The CSS font properties define the font family, boldness, size, and the style of a text.
    h2 CSS Links
    p With CSS, links can be styled in different ways.
    h2 CSS Layout - The display Property
    p The display property is the most important CSS property for controlling layout.