extends ../../_component/layout/template
block cool-config
    -
        var myTitle='Headings Are Importants';
        var myDescription='Search engines use the headings to index the structure and content of your web pages.';
        var landingPage='HTML';
        var activeLink='/html/headings';
        var insCom1='<!-- Write your comments here -->';

block awesome-content
    h1=myTitle
    h3=myDescription
    p h1 headings should be used for main headings, followed by h2 headings, then the less important h3, and so on.
    p.com2 Note: Browsers automatically add some white space (a margin) before and after a heading.
