doctype html
html
    head
        title Learn to code HTML, CSS and JavaScript
        meta(name="description", content="This is HTML replica of w3school.com web site!")
        link(rel="stylesheet", href="style.css")
    body
        header
            a(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") JavaScript
        
        nav  
            h3 HTML and CSS nu inteleg dc nu apare culoarea
            a(href="/html") Learn HTML
            a(href="/css") Learn CSS
            a(href="/javascript") Learn JavaScript
        
        article

            h1 This is a replica of w3schools.com
            p I will learn HTML, CSS and JavaScript            
            h2 HTML
            p HTML is the standard markup language for building Web pages. #[a(href='/html') Check it out]
            h2 CSS
            p The language for styling web pages. #[a(href='/css') See what hapens]
            h2 JavaScript
            p The language for programming web pages! #[a(href='/javascript') Discover JavaScript]

    footer &copy; 2019 nanu's first code!