h1 {
    color: red;
}

:root {
    --color-fruit-salad: #4caf50;
    --color-silver: #ccc;
}
* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 44px 1fr 44px;
    font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
    background-color: var(--color-fruit-salad)
}